<header id="top">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li role="presentation"><a href="{{ '/' | relative_url }}"><i class="fa fa-home fa-fw" aria-hidden="true"></i>Home</a></li>
          <li role="presentation"><a href="http://about.qutong.me/" target="_blank"><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>About</a></li>
          <li role="presentation"><a href="#contact"><i class="fa fa-at fa-fw" aria-hidden="true"></i>Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li role="presentation"><a href="{{ site.github }}" target="_blank"><i class="fa fa-github fa-fw" aria-hidden="true"></i>GitHub</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>