/* common.css */

body {
    padding-top: 50px;
}
.irb-main {
    padding: 40px 15px;
    text-align: center;
}
.irb-footer {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
.irb-avatar img {
    width: 320px;
}